
.Container{
    
    display: flex;
    /* width: 80vw; */
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
 /* min-width:600px ; */

}
.innerContainer{
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 300px;
    max-width: 500px;
  /* height: 60%; */
 max-height: 500px;
 min-height: 500px;
/* background-color: green; */
justify-content: center;
/* align-items: center; */
border: 2px solid black;
border-radius: 20px;
/* color: blue; */

}
.innerContainer>input{

margin-bottom: 20px;
border-radius: 10px;
width: 98%;
margin-left: auto;
margin-right: auto;
height: 35px;
color: red;
/* background-color: red; */
font-weight: bold;
}
.Main{
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  border-radius: 10px;

 
}
.headline{
   margin-left: 41px;
   font-weight: bolder;
}
.b{
    /* align-items: center; */
    justify-content: center;
    background-color: #004be3eb;
    color: white;
display: flex;
width: 50%;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
/* margin-bottom: 54px; */
}

